<script type="module" src="/assets/js/user.js"></script>
<div class="container user">
    <div class="row justify-content-center">
        <div class="col-sm-12 text-center mt-3">
            <h1>Info</h1>
        </div>
        <div class="col-sm-12 text-center mt-3 ">
            <strong>Name:</strong>
            <p id="name"></p>
        </div>
        <div class="col-sm-12 text-center mt-3 ">
            <strong>Lastname:</strong>
            <p id="lastname"></p>
        </div>
        <div class="col-sm-12 text-center mt-3">
            <strong>Login:</strong>
            <p id="login"></p>
        </div>
        <div class="col-sm-12 text-center mt-3">
            <strong>Gender:</strong>
            <p id="gender"></p>
        </div>
        <div class="col-sm-12 text-center mt-3 ">
            <strong>Birthdate:</strong>
            <p id="birthdate"></p>
        </div>
    </div>
</div>